<h1>Edit a Todo</h1>
 <!--Checks to see if there are any errors-->
<!-- we don't need to add the folder to the path name since _form is in the 
same folder as edit -->

<%= render "form" %>



















