<h1>Showing a todo</h1>

<p>
    name: <%= @todo.name %>    
</p>
<p>
    <!--We get the @todo from our show action-->
    description: <%= @todo.description %>
</p>


<!--
Hootsuite Co-op Software Developer


Hello Jessica,

I want to thank you once again for inviting me to the Interview on Thursday. It was a pleasure to meet you, George and Kush. After our discussion on this position and about Hootsuite, I would like to genuinely say that I am very excited about the prospect of joining Hootsuite as a Software Developer. If there are any additional steps or anything you require me to do, please do not hesitate to let me know.

I hope to hear from you soon.

Regards,


Kenan Abdulkarim
604-442-6525
-->



























